body{
    padding: 0;
    margin: 0;
}
.header-cn{
    height: 950px;
    background-image:linear-gradient(135deg, hsla(30, 4%, 18%, 0.8),hsla(30, 24%, 69%, 0.8)),
                      url(./pics/header-image.jpeg);
    background-size: cover;
    background-position: 60% 60%;
    background-attachment: fixed;
   
}
.header{
    height: 100px;
    position: fixed;
 
}
.nav-link{
    color: #302e2c !important;
        
}
.nav-link:hover{
    color:wheat !important;
    text-decoration-line: underline;
}
.nav-item{
    padding-top: 15px;
}
.navbar{
    background-color: #c2AF9c;
    opacity: 0.9;
    border-bottom: #302e2c solid 1px;
}
.logo{
    background-color: #c2AF9c;
    height: 80px;
    width: 100px;
    position: absolute;
    left: 40px;
    top: 10px;
   
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-us{
    background-color:#c2AF9c;
}
.about-us-img{
    height: 450px !important;
   
}
.about-us-img img{
    border-radius: 5px;
}
.navbar-collapse{
    transition: all 0.5s !important;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}
.icons{
    display: flex !important;
    justify-content: space-evenly;
    align-items: center;
    position: absolute ;
    top: 0;
}
